.renju-grid-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .game-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.renju-grid {
    display: grid;
    background: #dedede;
    grid-gap: 1px 1px;
    border: solid 1px #dedede;
    border-radius: 5px;
  }

  .tile {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: white;
    text-align: center;
    cursor: pointer;
  }
  .isWinning{
    background-color: rgb(166, 222, 255);
  }
  .isLoser{
    background-color: rgb(255, 166, 166);
  }
  
  .game-over {
    position: absolute;
    padding: 20px;
    box-shadow: 0 0 10px 2px #dedede;
    border: 1px solid #dedede;
    background: white;
    text-align: center;
    opacity: 0.8;
    border-radius: 5px;
    width: 169px;
    height: 85px;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }