<div class="main-grid" >

  <div class="renju-grid-container">
    <div>      
      <button mat-raised-button (click)="registerInGame()" *ngIf="!isConnected">Register in Game</button>
      <button mat-raised-button (click)="inviteOpponent()" *ngIf="isConnected" [disabled] ="state.game.gameStarted">Invite opponent</button>
      <div *ngFor="let gamer of activeGamers">
        {{gamer}}
      </div>
    </div>

    <div class="game-header-container">
        <div>This gamer: {{state.game.thisGamer?.userName || " not selected" }}: {{state.game.thisGamer?.figure}}</div>
        <div>Opponent: {{state.game.opponentGamer?.userName || " not selected"}}: {{state.game.opponentGamer?.figure}}</div>
    </div>

    <div class="renju-grid">
      <ng-container *ngFor="let row of grid; index as rowIndex">
        <div class="tile"
        *ngFor="let tile of row; index as columnIndex"
        [ngStyle]="{ 'grid-row': rowIndex + 1 }"
        [ngClass]="{ isWinner: tile.isWinning === 1, isLoser: tile.isWinning === -1 }"
          (click)="clickTile(rowIndex, columnIndex)"
        >
        {{ tile.value }}
        </div>
      </ng-container>
    </div>
  
    <div class="game-over" *ngIf="state.game.gameOver">
      <span>Game Over.</span>
      <button mat-raised-button (click)="handleResetClick()">Ok</button>
    </div>

  </div>
  
  <app-renju-chat userNameFrom = "{{state.game.thisGamer?.userName}}" userNameTo="{{state.game.opponentGamer?.userName}}"></app-renju-chat>
</div>
  