<div class="main-grid" >

  <div class="renju-grid-container">

    <div class="game-header-container" >
      <div>      
        <button mat-raised-button (click)="registerInGame()" *ngIf="!isConnected">Register in Game</button>
        <button mat-raised-button (click)="inviteOpponent()" *ngIf="isConnected" [disabled] ="state.game.gameStarted">Invite opponent</button>
      </div>
      <div *ngIf="state.game.gameStarted" class="gameInformation">
        <span>{{state.game.thisGamer?.nickName}}: <strong>{{state.game.thisGamer?.figure}}    </strong></span>
        <span>{{state.game.opponentGamer?.nickName}}: <strong>{{state.game.opponentGamer?.figure}}</strong></span>
      </div>
    </div>

    <div class="renju-grid">
      <ng-container *ngFor="let row of grid; index as rowIndex">
        <div class="tile"
        *ngFor="let tile of row; index as columnIndex"
        [ngStyle]="{ 'grid-row': rowIndex + 1 }"
        [ngClass]="{ isWinner: tile.isWinning === 1, isLoser: tile.isWinning === -1 }"
          (click)="clickTile(rowIndex, columnIndex)"
        >
        {{ tile.value }}
        </div>
      </ng-container>
    </div>
  
    <div class="game-over" *ngIf="state.game.gameOver">
      <span>Game Over.</span>
      <button mat-raised-button (click)="handleGameOverClick()">Ok</button>
    </div>
    <div class="gameComment">
      <img class="appAvatar" src="../../../../assets/AlexAvatar.png"/> 
      I wrote this game just to test WebSockets technology. <br>
       In this case -  SignalR (thx Micrisoft for it)
    </div>

  </div>
  
  <app-renju-chat (msgEvent)="sendMessage($event)" [chatMessages]="state.chatMessages" [thisUserName]="state.game.thisGamer?.userName"></app-renju-chat>
</div>
  