form{
    width: 300px;
}
mat-form-field{
    width: 300px;
}
input{
    width: 300px;
}

img.appAvatar{
    max-height: 50px;
    border: 2px solid white;
    display: inline;
    margin-right: 2px;
}
