
.footer{
    height: 50px;
    background-color: #78909C;
    border-radius: 3px;
    color: white;
    padding-left: 5px;
    padding-right: 10px;
    font-size: small;
}
a{
    color: white;
}
.btn-social:hover{
    opacity: 0.75;
}