<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="300px" fxHide.lt-md>
        <img
          src="https://res.cloudinary.com/alekseyabramenkov/image/upload/v1592221419/Bordeaux09-_-11_1_cxxojb.png"/>
      </div>
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row">
          <img class="appAvatar" src="../../../../assets/AlexAvatar.png"/>
          <div class="socialText">
            <p>
              Hi.<br />
              Thank you for your interest.<br />
              Im Alex, a Full Stack Developer from Ukraine. <br />
              My specialization is Angular + .Net Core.
            </p>
          </div>
        </div>
        <div fxLayout="row">
        <img class="appAvatar" src="../../../../assets/AlexAvatar.png"/>
        <div class="socialText">
          <p>
            Frankly speaking, I'm only starting as a full-stack dev and have no great portfolio.<br />
            (No, I am not a newbie in development at all, but only with Angular.)<br />
            That is why I decided to create this website and prove my experience.
          </p>
        </div>
      </div>
      <div fxLayout="row">
        <img class="appAvatar" src="../../../../assets/AlexAvatar.png"/>
        <div class="socialText">
          <p>
            A few words about this website.<br />
            Using:<br />
            Db: MySql<br />
            Front-end: Angular 9<br />
            Back-end: .Net Core 3.1<br />
            For the "Blog page" I decided to use GraphQL, but for the rest of the
            site - RestAPI.<br />
            Also here is some integration with Facebook and Linkedin (OAuth API for authorization).<br />
            //and of course I added Facebook Pixel.<br />
            For this site I created a small custom CMS (you can check it if you sign in using the button on the top-right corner).<br />
            And you can find this website code on <a href = "https://github.com/aabramenkov/aabramenkov.dev" >GitHub</a><br/>
          </p>
        </div>
      </div>

      <div fxLayout="row">
        <img class="appAvatar" src="../../../../assets/AlexAvatar.png"/>
        <div class="socialText">
          <p>
            PS. Just for google indexation:<br />
            C#, Typescript, MS SQL Server, MySql, Angular, RxJs,&nbsp; Appolo,
            Dotnet-graphql, CSS, Bootstrap, Angualar-Material.
          </p>
        </div>
      </div>
    </div>
  </div>
  </mat-card-content>
</mat-card>