<mat-nav-list>
    <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
        <span class="nav-caption">About</span>
    </a>
    <a mat-list-item routerLink="/services" (click)="onSidenavClose()">
        <span class="nav-caption">Services</span>   
    </a>
    <a mat-list-item routerLink="/portfolio" (click)="onSidenavClose()">
        <span class="nav-caption">Portfolio</span>
    </a>
    <a mat-list-item routerLink="/contacts" (click)="onSidenavClose()">
        <span class="nav-caption">Contact</span>
    </a>
  </mat-nav-list>
