<div FxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <img src="../../../../../assets/user.png" class="comment-avatar"/>
    <div class="comment-body">
      <span class="comment-author">{{comment.user.nickName}}</span> 
      <span class="comment-timeAgo"> : {{comment.created.toString() | timeAgo}}</span><br> 
      {{comment.text}}
      <div *ngIf="isAddCommentActive">
        <mat-form-field class="inputComment">
          <mat-label>Leave a comment</mat-label>
          <textarea #comment matInput></textarea>
        </mat-form-field>
        <button mat-button (click)="publishChildComment(comment.value)">Publish</button>
        <button mat-button (click)="cancelAddComment()">Cancel</button>
      </div>
    </div>
  </div>
  <div class="comment-actions">
    <a href="javascript:void(0)" class="comment-actions-text" (click)="addChildComment()">Reply</a>
    <a *appHasRole="['Admin', 'Moderator']" href="javascript:void(0)" class="comment-actions-text" (click)="deleteComment()">Delete</a>
  </div>
  <div *ngFor="let child of comment.childComments" class="childComment">
    <app-child-comment 
      [childComment]="child" 
      (childCommentCreated)="onChildCommentCreated($event)" 
      (childCommentDeleted)="onChildCommentDeleted($event)">
    </app-child-comment>
  </div>


