
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.avatar {
    max-height: 40px;
    border: 2px solid white;
    margin-right: 2px;
    float: left;
    border-radius: 50%;
  }
  .simple-snack-bar .mat-simple-snackbar {
    justify-content: center;
  }
