<mat-nav-list>
  <a mat-list-item routerLink="users">
    <mat-icon>people_outline</mat-icon> <span class="nav-caption">Users</span>
  </a>
  <a mat-list-item routerLink="editor">
    <mat-icon>edit</mat-icon><span class="nav-caption">Site->Pages</span>
  </a>
  <a mat-list-item routerLink="posts">
    <mat-icon>edit</mat-icon><span class="nav-caption">Blog->Posts</span>
  </a>
  <a mat-list-item routerLink="comments">
    <mat-icon>edit</mat-icon><span class="nav-caption">Blog->Comments</span>
  </a>
</mat-nav-list>
